div(class='edit-form')
  div(class='panel')
    form(action="")
      p Location:
        input(type="text" name="user[location]" value = "#{currentUser.location}" id = "locationInput")
      p Gender:
        input(type="text" name="user[gender]" value = "#{currentUser.gender}" id = "genderInput")
      p Age:
        input(type="text" name="user[age]" value = "#{currentUser.age}" id = "ageInput")
      p Avatar URL:
        input(type="text" name="user[img_url]" value = "#{currentUser.img_url}" id = "imgInput")
      p Description:
        input(type="text" name="user[description]" value = "#{currentUser.description}" id = "descriptionInput")
      p
        input(type="submit" value = "Update My Info" id="update")
    form(action="/users/#{currentUser.id}?_method=delete" method="POST")
      p
        input(type="submit" value="Delete this user")

    form(action="/languages" method="POST")
      p Add a language to your profile!
        select(name="language[languages]" required)
          option
          option(value = "Spanish") Spanish
          option(value = "English") English
      p Level of Proficiency
        select(name="language[proficiency]" required)
          option
          option 1
          option 2
          option 3
          option 4
          option 5
      p Intent
        select(name= "language[approach]" required)
          option
          option Learning
          option Teaching
      p   
        input(type = "hidden" name= "language[user_id]" value = "#{currentUser.id}")
        input(type = "submit" value = "Add to My Language Profile")   
    table
      caption Language Profile
      tr
        th Language
        th Proficiency
        th Intent
          each language in languages
            tr
              td=language.languages
              td=language.proficiency
              td=language.approach 
              td
                form(action = "/languages/"+language.id+"?_method=delete" method = "POST")
                  input('type' = "submit" value = "Remove")

