div(class='user-profile')
  div(class='panel')
    div(class='panel-body')
      div(class='profile-head')
        img(src='#{user.img_url}' alt='profile')
        h2 #{user.name} &nbsp;
          if (user.gender)
            span Gender: #{user.gender} &nbsp;
          if (user.age) 
            span Age: #{user.age}
      hr
      div(class='profile-desc')
        h4 Native Languages:
        hr
        h4 Practicing Languages:
        hr
        h4 Description: 
        p #{user.description}
        hr
        h4 Location: #{user.location}
        hr
        h4 Email: #{user.email}
        hr
        h4 Member Since: #{user.created_at}
        hr
        h4 Last Login: #{user.updated_at}