div(class='user-profile')
  p(class='json-languages') #{JSON.stringify(languages)}
  div(class='panel')
    div(class='panel-body')
      div(class='profile-head')
        img(src='#{user.img_url}' alt='profile')
        h2 #{user.name} &nbsp;
          if (user.gender)
            span(id="profileGender") Gender: #{user.gender} &nbsp;
          if (user.age) 
            span(id="profileAge") Age: #{user.age}
      hr
      div(class='profile-desc')
        h4 Teaching Languages:
        div(class='teaching-languages')
        hr
        h4 Learning Languages:
        div(class='learning-languages')
        hr
        h4 Description: 
        p(id='profileDescription') #{user.description}
        hr
        h4 Location: 
          span(id='profileLocation') #{user.location}
        hr
        h4 Email: 
          span(id='profileEmail') #{user.email}
        hr
        h4 Member Since: 
          span(id='profileCreatedAt') #{user.created_at}
        hr
        h4 Last Login:
          span(id='profileLastLogin')  #{user.updated_at}