div(id='users-list')
  p(id='json-users') #{JSON.stringify(users)}
  p(id='json-teachers') #{JSON.stringify(teachers)}
  p(id='json-learners') #{JSON.stringify(learners)}
  each user in users
    if (!currentUser || (user.id !== currentUser.id))
      div(class='panel')
        div(class='panel-body')
          div(class='profile-head')
            img(src='#{user.img_url}' alt='profile')
            h2 #{user.name} &nbsp;
              if (user.gender)
                span Gender: #{user.gender} &nbsp;
              if (user.age) 
                span Age: #{user.age}
          hr
          div(class='profile-desc')
            p(class='user-id' data-id='#{user.id}')
            h4 Teaching Languages:
            div(class='teaching-languages')
            hr
            h4 Learning Languages:
            div(class='learning-languages')
            hr
            h4 Description: 
            p #{user.description}
            hr
            h4 Location: #{user.location}
            hr
            h4 Last Login: #{user.updated_at}
          hr
          if (currentUser)
            form(action = "/threads" method = "POST")
              div(class='form-group')
                p Subject: 
                input(type = "text" class='form-control' name = "thread[subject]")
              div(class='form-group')
                p Message:
                textarea(type = "text" class='form-control' name = "message[message]")
              input(type = "hidden" name = "message[sender_id]" value = "#{currentUser.id}")
              input(type = "hidden" name = "message[rec_id]" value = "#{user.id}")
              div(class='form-group text-center')
                input(type = "submit" class='btn btn-info' value = "SEND MESSAGE")