extends ../layout
block content
	h1 Threads Show Page

	each msg in threadMsgs
		h3 From: #{msg.send_email}  
		h3 To: #{msg.rec_email}  
		h3 Subject: #{msg.subject}
		p Body: #{msg.message}
	h5
		form(action = "/threads/#{threadMsgs[0].tid}/messages" method = "POST")
			input(type = "text" name = "message[message]" placeholder= "Add a reply")
			input(type = "hidden" name = "message[sender_id]" value = "#{currentUser.id}")
			if (currentUser.id === threadMsgs[0].send_id)
				input(type = "hidden" name = "message[rec_id]" value = "#{threadMsgs[0].rec_id}")
			else 
				input(type = "hidden" name = "message[rec_id]" value = "#{threadMsgs[0].send_id}")
			input(type = "submit" value ="Send Reply")
